* {
    padding: 0;
    margin: 0;   
}

html, body {
    height:100%; 
    width:100%; 
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: white;
}

a:hover{
    color: gray;
}

h1, h2, h3, h4, h5, p {
    color: white;
}

h1, h1, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

p {
    font-size: 19px;
    font-weight: lighter;
}


hr{
    border-color: #DAA520;
    border-width: 5px;
    width: 100px;
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;    
}

.btn {
    background-color: transparent;
    border-color: white;
    margin-bottom: 50px;
    color: white;

}

.btn:hover {
    background-color: gray;
    border-color: white;
    color: white;
}



/***** NAVIGATION BAR *****/

.navbar-inverse {
    background-color: black;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}


/***** END NAVIGATION BAR *****/




/***** HOME PAGE *****/


header{
    background-color: black;
}

.overlay{
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.carousel,
.item,
.active {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*-o-background-size: cover;*/
}

.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
    display: block;
    transition: none;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.full-width {
    width: 100%;
}




.main-heading{
    color: white;
    font-size: 80px;
    letter-spacing: 10px;
}

.small-heading{
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.title{ color:white; font-size:40px; }

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

@media(max-width: 768px) {
    .main-heading {
        font-size: 50px;
    }

    .small-heading {
        font-size: 20px;
    }
}

/***** END HOME PAGE *****/



/***** ABOUT US *****/

.aboutUs {
    position: relative;
    padding: 50px 0;
    top: 0;
    left: 0;
    background-color: #000000;
}


.block-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.paragraph {
    padding: 0 50px;
}


.service, .diversity, .spirituality {
    padding: 0;
}


.pillars {    
    padding: 0px 0px 60px;
    margin-top: 0px;
    text-align: center;
}

.pillars .text-center {
    padding-top: 50px;
    padding-bottom: 20px;
}

.pillars h2,
.pillars h4 {
    margin: 20px 0 20px;
}

.pillars h2{
    padding: 25px;
}


.pillars p { 
    font-size: 18px;
    padding-bottom: 0px;
}


.pillars i {   
    height: 80px;
    width: 80px;
    /*font-size: 30px;*/
    font-size: 60px;
    /*padding: 25px 20px;*/
    padding-bottom: 40px;
    border-radius: 65%;
    background-color: black;
    color: white;
}

/**CSS FOR THE RING**/

.glyphicon-ring {
  /*width: 60px;
  height: 60px;*/
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}

@media(max-width:768px) {
    
    .pillars {
        
        padding: 30px;
    }
}

.explore {
    background-color: black;
    padding-bottom: 125px;

}

.explore .carousel-inner .item img {
    overflow: hidden;
}
.explore .carousel-inner .item, 
.explore .carousel-inner .item img.scale {
    max-height: 200px;
}
@media screen and (min-width: 768px) {
    .explore .carousel-inner .item, 
    .explore .carousel-inner .item img.scale {
        max-height: 400px;
    }
}
.explore .carousel-caption {
    left: 0 !important;
    right: 0 !important;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 40%);
    bottom: 0px;
}







/***** END ABOUT US *****/




/***** PLACEMENTS *****/

.placements {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.placements h1,
.placements h4,
.placements p {
    color: black;

}

.placements img {
    height: 150px;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 20px;

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.placements img:hover{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.placements i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: gray;
    color: #fff;
}

.placements i:hover{
    color: black;
}

@media(max-width:768px) {
    .placements {   
        padding: 30px;
    }
}


/***** END PLACEMENTS *****/





/***** EVENTS *****/


.events {
    text-align: center;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 50px;
}

.events img {
    height: 375px;
    padding: 50px;
    text-align: center;
}

.events .caption {
    padding-bottom: 50px;
    padding-left: 50px;
    text-align: left;
}

.events .carousel-control.left, 
.events .carousel-control.right {
    background-image: none
}

@media(max-width:768px) {   
    .events img {
        height: 300px;
        padding: 30px;
        text-align: center;
        width: auto;


    }

    .events {
        text-align: center;
    }

    .events .caption {
        padding-top: 0px;
    }
}

/***** END EVENTS *****/




/****** JOIN *******/

.join {
    background-color: #181818;
    overflow: auto;  
    padding: 30px;
    padding-bottom: 100px;

}

.fill2 {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    /*-o-background-size: cover;*/
}

.join img {
    max-height: 300px;
    max-width: 300px;
    padding-bottom: 30px;
    padding-bottom: 30px;
}

.join h1 {
    color: white;
}

.join p {
    text-align: left;;
}

.join .col-md-6, 
.join .col-lg-6{
    padding-left: 50px;
    padding-right: 50px;
}


.join .packages {    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: black;
    border-radius: 5px;
    margin-top: 30px;

}

.join .row-1 {
    background-color: black;
}

.join .row-2{
    background-color: #080808
}

.join .left-side{
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.join .right-side {
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

@media(max-width:768px) {   
    .join-home .main-heading{
        color: white;
        font-size: 36px;
        letter-spacing: 0px;
    }

    .join h3 {
        font-size: 20px;
    }

    .join .left-side,
    .join .right-side {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .join .col-md-6, 
    .join .col-lg-6{
        padding-left: 10px;
        padding-right: 10px;
    }
}


/***** END JOIN *****/





/***** MEDIA *****/

.media {
    padding-top: 50px;
    padding-bottom: 100px;
}

.media h1,
.media h2,
.media h3,
.media h4,
.media p,
.media i{
    color: black;
}

.media a {
    color: gray;
}


.media p i {   
    color: black
    height: 50px !important;
    width: 50px !important;
    font-size: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    
}

.media p i: hover {   
    background-color: gray;   
}

.media .social-media {
    padding-bottom: 30px;
}

.instagram p {
    padding-bottom:10px;
    text-align: center;
}

#instafeed {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
}


#instafeed img {
    padding:5px;
    opacity:1;
    /*height: 150px;*/
    width: 20%;
    overflow: hidden;
    filter:alpha(opacity=100);
    display: inline-block;
}

#instafeed img:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
}

.media .facebook {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #F5F5F5;
}

.media .facebook-page {
    padding-left: 30px; 
    padding-right: 30px;
}

@media(max-width:768px) {    
    #instafeed img {
        width: 30%;
    }

    .media .container {
        width: 300px; 
    }

    .facebook-page {
        padding-left: 0px;
        padding-right: 0px;
        width: 300px; 
        margin-left: -65px;

    }

    .facebook-page iframe {
        height: 130px;
    }
}


/******* END MEDIA ********/





/******* FOOTER ********/



.contact {   
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.contact .social {   
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

/***** END FOOTER *****/


